/*!
 * Bootstrap Rating v0.0.1-beta
 * Copyright 2018-2019 Muzafar Hasan
 */
.rating-list {
    clear:left;
    text-align:left;
}

.user-rating span{
	text-align: right;
	display: block;
}
.user-rating i{
	text-align: left;
	display: inline-block;
}
.user-rating i:hover{
	color:#ff0000;
}

.star-color {
    color:#fd7e14;
}
